<div class="pool-overview-container">
    <div class="fb">Pools Overview</div>
    <div>
        <button class="mat-stroked-button-color"
        mat-stroked-button
        appDebounceClick
        routerLink="/pool/all">
            All Liquidity Pools
        </button>
    </div>
</div>

<div class="pool-overview-container">
    <div></div>
    <div>
        <button class="mat-stroked-button-color" 
        mat-stroked-button
        appDebounceClick
        routerLink="/pool/add-liquidity">Add Liquidity
        </button>
    </div>
</div>

